@import "tailwindcss";

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-between {
        @apply flex justify-between items-center;
    }

    .flex-gap {
        @apply flex items-center;
    }

    .flex-column {
        @apply flex flex-col items-center;
    }

    .base-text {
        @apply text-[#FFFDF6];
    }

    .header-font {
        font-family: "Space Grotesk", sans-serif;
    }

    .description-font {
        font-family: "Funnel Sans", sans-serif;
    }

    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

    .bg-red {
        @apply bg-red-500;
    }
}

@layer components {
    .hero {
        @apply h-full w-full;
    }

}

@layer base {
    .dark-bg {
        @apply bg-[#0B192C];
    }
}